*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  align-items: end;
  gap: 30px;
  padding: 133px 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 16px;
  padding-bottom: 5px;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: auto;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  height: 100%;
} 

.result {
  max-height: 100%;
}

.title {
  color: #FFF;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 3px;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 3px;
  width: 196px;
  padding-right: 10px;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
}

.content__video-card-title {
  overflow: hidden;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  font-weight: 400;
  line-height: 16.2px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: 0;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
}

.search-form__textfield {
  min-width: 225px;
  border-top: 1px solid #FFF;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #FFF;
  border-left: 1px solid transparent;
  color: #fff;
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  background-color: transparent;
  appearance: none;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: none;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.button {
  height: 34px;
  border: 1px solid #fff;
  color: #FFF;
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
}

.search-form__submit-button {
  align-self: end;
  min-width: 194px;
}

.more-button {
  width: 100%;
  margin-top: 30px;
  text-wrap: nowrap;
}

.button:focus {
  outline: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__submit-button:active {
  background-color: #545050;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::after {
  display: block;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label-city:hover {
  text-decoration: none;
}

.search-form__label:has(:not(:active):focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:active {
  text-decoration: none;
  background-color: #545050;
}

.button:active {
  text-decoration: none;
}